

@media (max-width: 768px){
    .mobile {
        display: auto;
    }
    .notMobile {
        display: none;
    }
}

@media (min-width: 769px){
    .mobile {
        display: none;
    }
    .notMobile {
        display: auto;
    }
}

